<?xml version="1.0"?>
<launch>
    <arg name="pddl_file_path"  value="$(find rosplan_agent_interface)/test/collect/"/>

    <include file="$(find rosplan_agent_interface)/launch/continual_planning.launch">
        <arg name="pddl_file_path"  value="$(arg pddl_file_path)"/>
        <arg name="domain_path"     value="$(arg pddl_file_path)domains/collect.pddl"/>
        <arg name="problem_path"    value="$(arg pddl_file_path)problems/collect_problem.pddl"/>
		<arg name="planner_command"	value="$(find rosplan_planning_system)/common/bin/lpg-td -o DOMAIN -f PROBLEM -quality -out $(arg pddl_file_path)/plans/plan.pddl" />
    </include>

	<!-- Simulated actions -->
	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
		<arg name="pddl_action_name" value="goto_room"/>
		<arg name="action_duration"  value="30"/>
	</include>
	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
		<arg name="pddl_action_name" value="pickup_key"/>
		<arg name="action_duration"  value="10"/>
	</include>
	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
		<arg name="pddl_action_name" value="pickup_doc"/>
		<arg name="action_duration"  value="30"/>
	</include>
	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
		<arg name="pddl_action_name" value="collect_all_with_key"/>
		<arg name="action_duration"  value="30"/>
	</include>
	
</launch>
